{% extends 'base.html' %}

{% block title %}
    Show all requests
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
          <div class="container">
            <h1>Phill's Playhouse</h1>
            <p>Following the criteria specified in the EngineeringMidLevel task, this project coded in Django and Python
            and hopefully deployed to Heroku is to demonstrate Samuel Prashker's code in action</p>
            <p>
            <a class="btn btn-primary btn-lg"
                  href="https://github.com/prashker/PhilsFRA"
                  role="button">See @prashker's code
            </a>
            <a class="btn btn-primary btn-lg"
                  href="https://github.com/IntuitiveWebSolutions/EngineeringMidLevel"
                  role="button">See the requirements
            </a>
            </p>
          </div>
        </div>

        <h3>
            Feature Requests <a href="{% url 'create' %}" class="btn btn-xs btn-primary">Add new...</a>
        </h3>
        <div class="list-group">
            {% for item in requests %}
                <a href="{% url 'view' item.id %}" class="list-group-item">
                    {{ item.title }}
                    <span class="badge">{{ item.client.name }} - Priority {{ item.priority }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}